@charset "UTF-8";

/* paleta de cores  
verde: #49a09d;
lilas: #5f2c82
*/


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5f2c82;
    font-family: Arial, Helvetica, sans-serif;
}

 main #login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 515px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
    transition: width .3s, height .3s;
}

main #imagem {
    display: block;
    background: url(../imagens/background-image.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

main #formulario {
    display: block;
    padding: 10px;
}

main #formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

main #formulario p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

div .campo {
    text-align: center;
    background-color: #5f2c82;
    border-radius: 8px;
    margin-bottom: 5px;
}

div .campo i {
    position: relative;
    top: 7px;
    color: white;
    font-size: 1.7em;
}

div .campo input {
    position: relative;
    left: 5px;
    bottom: 1.2px;
    font-size: 15px;
    background-color: white;
    padding: 8px;
    border: none;
    width: 167px;
    height: 20px;
    border-radius: 5px;
}

form .botao {
    width: 230px;
    height: 40px;
    background-color: #49a09d;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s;
}

form .botao:hover {
    background-color: white;
    border: 1px solid #49a09d;
    color: #49a09d;
    transition: 0.5s;
}

form .botao-s {
    padding: 11px 45px;
    border-radius: 5px;
    background-color: white;
    color: #49a09d;
    border: 1px solid #49a09d;
    text-decoration: none;
    transition: 0.5s;
}

form .botao-s:hover {
    background-color: #49a09d;
    color: white;
    transition: 0.5s;
}

form .botao-s i {
    position: relative;
    top: 2px;
    left: 5px;
    font-size: 15px;
}